html, body {
	height: 100%;
	margin: 0;
}

.profile-chart {
	overflow: visible !important;
}

.profile-chart text {
	user-select: none;
}

.chart-main {
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	right: 0;
  top: 0;
}

.chart-section-wrapper {
  display: flex;
  flex: 1;
}

.profile-chart-wrapper {
	width: 700px;
}

.profile-chart-row {
  display: flex;
  position: relative;
}

.profile-column-left {
	display: flex;
	flex-direction: column;
}

.profile-chart-wrapper {
	flex: 1;
	position: relative;
}

.profile-column-right {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding-bottom: 10px;
}

.bar-hover text {
  fill: #111 !important;
}

.reference.bar-hover rect {
  fill: #777;
}

.tick.bar-hover text {
  fill: black;
}

.y path,
.y line {
  visibility: hidden;
}

.profile-tooltipdiv {
  background-color: white;
  border: #ABABAB solid 2px;
  height: auto;
  line-height: 1.4;
  padding: 10px;
  padding-bottom: 7px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
  z-index: 100;
}

.profile-arrow-left {
  background-color: white;
  border-left: #ABABAB solid 2px;
  border-radius: 0 0 10px 0;
  border-top: #ABABAB solid 2px;
  height: 10px;
  pointer-events: none;
  position: absolute;
	transform: rotate(-45deg);
  width: 10px;
  z-index: 100;
}

.profile-save-image {
  position: absolute;
  right: 7px;
  top:  7px;
}

.description {
	color: #444;
  margin-left: 5px;
	margin-top: 60px;
	padding: 5px;
	width: 280px;
}

.description-header {
	font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-description ul {
  padding-left: 20px;
}
