.user-paste-data {
	display: inline-block;
	font: 12px sans-serif;
	color: #444;
	border: 1px solid #DDD;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.user-paste-data-header {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	white-space: nowrap;
	align-items: center;
}

.user-paste-data-header:hover {
	color: black;
}

.user-paste-data-header-arrow-wrapper {
	display: flex;
}

.user-paste-data-header-arrow {
	align-self: center;
	margin-right: 10px;
}

.user-paste-data-header-arrow:before {
	content: url('../../img/question-expand-arrow.png');
}

.user-paste-data-header-text {
	font-weight: bold;
}

.user-paste-data-description {
	width: 360px;
}

.user-paste-data-content-wrapper {
	display: flex;
	height: 0px;
	overflow: hidden;
}

.user-paste-data-content {
	width: 450px;
	padding: 10px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
}

.user-paste-data-submit-wrapper {
	display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
	margin-top: 10px;
}

.user-paste-data-submit-explanation {
	margin-right: 10px;
}

.user-paste-data-submit-column-select {
	background: transparent;
  padding: 5px;
  border: 1px solid #ddd;
  text-indent: 0px;
	margin-right: 10px;
}

.user-paste-data-textarea {
	color: #444;
	height: 400px;
	padding: 10px;
	margin-top: 10px;
	resize: none;
}

.user-paste-data-error-log-wrapper {
	height: 100%;
	display: none;
}

.user-paste-data-error-log {
	width: 450px;
	margin: 10px 10px 20px 20px;
	padding: 10px;
	display: flex;
  flex-direction: column;
}

.user-paste-data-error-log-header {
	padding-left: 5px;
}

.user-paste-data-error-log-header-text {
	padding-left: 5px;
	font-weight: bold;
}

.user-paste-data-error-log-header-icon {
	color: #d13d40;
}

.user-paste-data-error-text-area {
	border: 1px solid #ddd;
  flex: 1;
	padding: 0px 10px 10px 10px;
  margin-top: 10px;
  overflow-y: scroll;
}

.user-paste-data-error-text-number-bounds-errors,
.user-paste-data-error-text-no-number-errors,
.user-paste-data-error-text-no-row-errors {
	margin-top: 10px;
	display: none;
}

.user-paste-data-error-multiple-match-group {
	margin-top: 10px;
}

.user-paste-data-error-row {
	margin-top: 3px;
	margin-left: 10px;
	white-space: nowrap;
	font-style: italic;
}


.grid-main > .chart-row {
	height: 600px;
	padding-top: 10px;
}

.grid-row {
	display: flex;

}

.grid-column-left {

}

.grid-column-right {
    margin-top: 96px;
    margin-left: 35px;
}

.grid {
	display: inline-flex;
}

.grid-info {

}

.rowtext, .grid-legend-text {
	font-size: 11px;
	color: rgb(85, 85, 85);
	white-space: nowrap;
}

.rowtext {
	text-align: right;
	padding-right: 8px;
}

.grid-cell {
	padding: 0;
}

.grid-cell input, .grid-legend-symbol {
	background: white;
	border: 1px dashed #BBB;
	font-size: 10px;
	height: 16px;
}

.header-cell-input {
	width: 130px;
	border: 1px dashed #BBB;
}

.header-cell-input, .text-width-test {
	background: white;
	font-size: 13px;
	height: 22px;
	padding: 0 2px;
	font-weight: bold;
}

.text-width-test {
	position: absolute;
	left: -9999px;
	top: -9999px;
	visibility: hidden;
}

.header-cell-input.has-content {
	border: none;
}

.grid-cell input, .grid-legend-symbol {
	width: 33px;
	padding: 0;
	margin-right: 7px;
	text-align: center;
}

.grid-cell input:hover, .header-cell-input:hover {
	border-color: #666;
}

.grid-cell input:focus, .header-cell-input:focus {
	border: 1px solid black;
}

.rowtext.groupname {
	font-size: 12px;
	vertical-align: bottom;
}

.grid-legend {
	margin-left: 9px;
	margin-bottom: 10px;
}

.header-cell {
  height: 118px;
  white-space: nowrap;
}

.header-cell > div {
  transform:
    translate(9px, 35px)
    rotate(-0.125turn);
  width: 30px;
}

.grid-buttons {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
}

.save-grid-image-button {
	float: right;
}

.cell-good {
	background: hsl(130, 32%, 60%) !important;
}

.cell-avg {
	background: hsl(0, 0%, 85%) !important;
}

.cell-bad {
	background: hsl(359, 62%, 70%) !important;
}

.cell-good-reference {
	background: #509a5c !important;
}

.cell-avg-reference {
	background: #c5c2bd !important;
}

.cell-bad-reference {
	background: #d13d40 !important;
}

.add-column-button:hover {
	border-color: rgb(85, 85, 85);
}
