.settings/com.google.gdt.eclipse.core.prefs
.settings/com.google.appengine.eclipse.core.prefs

.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.xml.core.prefs
.settings/org.eclipse.wst.xsl.core.prefs

doc

extras

gwt-unitCache
war/WEB-INF/classes

war/gwtAdmin
war/gwtEmbed
war/gwtPresentation

war/org.daxplore.presenter.*.JUnit/

war/WEB-INF/appengine-generated
war/WEB-INF/deploy

war/WEB-INF/lib/appengine-*.jar
war/WEB-INF/lib/google_sql.jar
war/WEB-INF/lib/datanucleus-appengine-*.jar
/war/WEB-INF/lib/datanucleus-core-*.jar
/war/WEB-INF/lib/datanucleus-jpa-*.jar
/war/WEB-INF/lib/geronimo-jpa_*.jar
/war/WEB-INF/lib/geronimo-jta_*.jar
/war/WEB-INF/lib/gwt-servlet.jar
/war/WEB-INF/lib/jdo2-api-*.jar
/war/WEB-INF/lib/jsr107cache-*.jar
war/WEB-INF/lib/asm-*.jar
war/WEB-INF/lib/commons-io-*-bin.tar.gz
war/WEB-INF/lib/datanucleus-api-jdo-*.jar
war/WEB-INF/lib/datanucleus-api-jpa-*.jar
war/WEB-INF/lib/jdo-api-*.jar
war/WEB-INF/lib/jta-*.jar

*.pyc
.DS_Store
.gwt

