body{
	font-family: Arial, sans-serif;	
	padding-top: 20px;
	padding-left: 50px;
}

.browser-link-area{
	padding-top: 5px;
}

.browser-link{
	text-decoration: none;
}

.browser-button{
	border: none;
}

.ignoreBadBrowser{
	font-size: 12px;
	color: #888888;
	max-width: 400px;
}

.ignoreBadBrowser a{
	cursor: pointer !important;	
}

a.suggestion-lang{
	font-size: 13px;
    text-decoration: none;
    cursor: pointer !important;
    background-position: left center;
    background-repeat: no-repeat;
	margin-top: 15px;
    padding-left: 22px;
    display: block;
}

a.suggestion-lang-sv {
	background-image: url('/img/globallinks-lang-sv.gif');
}

a.suggestion-lang-en {
	background-image: url('/img/globallinks-lang-en.gif');
}