/*** StagePanel ***/



/*** WarningBanner ***/

	.daxplore-WarningBanner{
		background-color: #F0E966;
		width:100%;
		height: 35px;
	}

	.daxplore-WarningBanner-text{
		font-size: small;
	    background-position: left center;
	    background-repeat: no-repeat;
	    margin-left: 0;
	    padding-left: 23px;
	    margin-right: 50px;
	}

	.daxplore-WarningBanner-close{
		position: absolute;
		right: 10px;
		top: 5px;
	}


/*** OptionsPanel.java ***/

	.daxplore-OptionsPanel{
		padding-top: 10px;
		padding-right: 5px;
		padding-bottom: 10px;
	}

	.daxplore-OptionsPanel tr,td,tbody{
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
	}


/*** CheckPanel.java && SelectPanel.java ***/

	.daxplore-PerspectiveCheckboxes-header {
		font-weight: bold;
		padding-bottom: 5px;
		white-space: nowrap;
	}

	.daxplore-PerspectiveCheckboxes-description {
		text-align: center;
		margin-top: -5px;
	}

	.daxplore-PerspectiveQuestionList-header {
		font-weight: bold;
		padding-bottom: 5px;
		white-space: nowrap;
	}

/*** DescriptionPanel.java ***/

	.daxplore-DescriptionPanelBottom, .daxplore-DescriptionPanelLegend {
		margin: 22px 0 0 10px;
		padding: 8px 5px 8px 8px;
		max-width: 500px;
	}

	 .daxplore-DescriptionPanelLegend {
	 	width: 200px;
	 }

	.daxplore-DescriptionPanelBottom p, .daxplore-DescriptionPanelLegend p {
		margin-top: 1px;
		margin-bottom: 1px;
	}

	.daxplore-DescriptionPanelBottom ul, .daxplore-DescriptionPanelLegend ul {
		margin: 0;
		padding-left: 20px;
	}


/*** Image Buttons ***/
	.daxplore-ImageButton {
		cursor: pointer;
		border: 2px solid transparent;
		border-radius: 5px;
	}

	.daxplore-ImageButton:hover {
		background-color: #EAEAEA;
		border-color: #EAEAEA;
	}

	.daxplore-ImageButton:active {
		background-color: #DADADA !important;
		border-color: #DADADA !important;
	}


/*** Embed Popup ***/
	.daxplore-EmbedPopup {
		padding: 3px;
		margin: 3px;
		background-color: #EEEEEE;
		border: 4px solid #DADADA;
		border-radius: 5px;
		z-index: 1000 !important;
	}

	.daxplore-EmbedPopup-header{
		font-weight: bold;
	}

	.gwt-DisclosurePanel .header {
		outline: 0;
	}

	.gwt-Button::-moz-focus-inner {
		border: 0;
	}

	.daxplore-EmbedPopup-textarea {
		width: 400px;
		min-width: 400px;
		max-width: 400px;

		height: 7em;
		min-height: 7em;
		max-height: 7em;
	}

	.daxplore-EmbedPopup-iframeSpot {
		border: none;
		overflow: hidden;
	}


	/*** Pure d3 js perspective picker ***/

	.img-preload {
		position: absolute;
		top: -9999px;
		left: -9999px;
		opacity: 0;
	}

	.perspective-button {
		z-index: 1;
		color: #999;
	}

	.daxplore-PerspectivePanel {
	   display: flex;
    	flex-direction: column;
		float: left;
	}

	.perspective-header {
		color: #888;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 7px;
	}

  .perspective-picker {
		display: flex;
		flex-direction: row;
	}

	.perspective-varpicker {
		display: flex;
		flex-direction: column;
	}

	.peropt-buttons {
	display: flex;
		flex-direction: row;
		white-space: nowrap;
	}

	.pervarpicker-top-padding {
		position: relative;
		min-height: 10px;
		border-left: 1px dashed #DDD;
		border-top: 1px dashed #DDD;
		border-right: 1px solid #ABABAB;
	}

	.pervarpicker-bottom-padding {
		position: relative;
		min-height: 10px;
		border-left: 1px dashed #DDD;
		border-right: 1px solid #ABABAB;
		border-bottom: 1px dashed #DDD;
	}

	.pervarpicker-right-border-extender {
		flex: 1;
		border-right: 1px solid #ABABAB;
	}

	.pervarpicker-varoption:before {
		content: url('/img/perspective-radio-empty.png');
		padding-left: 7px;
		padding-right: 5px;
		padding-top: 2px;
	}

	.pervarpicker-varoption {
		display: flex;
		align-items: center;

		border-left: 1px dashed #DDD;
		border-right: 1px solid #ABABAB;
		padding: 5px;
		padding-right: 10px;
		cursor: pointer;
	}

	.pervarpicker-varoption-selected:before {
		content: url('/img/perspective-radio-filled.png');
	}

	.pervarpicker-varoption-selected {
		border-top: 1px solid #ABABAB;
		border-left: 1px solid #ABABAB;
		border-bottom: 1px solid #ABABAB;
		border-right: none;
		padding-right: 11px;
		padding-bottom: 4px;
		padding-top: 4px;
	}

	.pervarpicker-varoption:hover {
		color: #444;
	}

	.perspective-options {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: white;

		border-top: solid 1px #ABABAB;
		border-right: solid 1px #ABABAB;
		border-bottom: solid 1px #ABABAB;
	}

	.peropt-columns {
		flex: 1;
		display: flex;
		flex-direction: row;
	}

	.peropt-extra-columns {
		overflow: hidden;
		display: flex;
		flex-direction: row;
	}

	.peropt-bottom-padding {
		height: 31px;
	}

	.peropt-more-wrapper {
		position: absolute;
    right: 2px;
		bottom: 2px;
	}

	.peropt-checkbox {
		display: flex;
		align-items: center;
		padding: 2px;
		padding-right: 10px;
		cursor: pointer;
		white-space: nowrap;
	}

	.peropt-checkbox:before {
		content: url('/img/perspective-checkbox-empty.png');
		padding-left: 7px;
		padding-right: 5px;
		padding-top: 3px;
	}

	.peropt-checkbox-selected:before {
		content: url('/img/perspective-checkbox-filled.png');
	}

	.peropt-checkbox:hover {
		color: #444;
	}


	/*** Pure d3 js question picker ***/

	.daxplore-QuestionPanel {
		margin-right: 5px; /* if changed here, also change in StagePanel.java */
	}

	.question-header {
		white-space: nowrap;
		color: #888;
		font-weight: bold;
		padding-bottom: 7px;
	}

	.question-picker {
		border-top: 1px dashed #DDD;
	}

	.question-picker.above-selected {
		border-top: 1px solid #BBB;
	}

	.question-section-GROUP {
		display: flex;
		flex-direction: column;

		border-left: 1px dashed #DDD;
		border-right: 1px dashed #DDD;
		border-bottom: 1px dashed #DDD;
	}

	.question-section-GROUP.above-selected {
		border-bottom: 1px solid #BBB;
	}

	.question-section-GROUP.selected {
		border-style: solid;
		border-top: none;
		border-color: #BBB;
	}

	.question-section-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 9px;

		cursor: pointer;
	}

	.question-section-header-text {
		font-weight: bold;
		white-space: nowrap;
		margin-right: 7px;
		align-self: center;
	}

	.question-section-header-text:hover {
		color: #444;
	}

	.question-group-arrow-wrapper {
		display: flex;
	}

	.question-group-arrow {
		align-self: center;
	}

	.question-group-arrow:after {
		content: url('/img/question-expand-arrow.png');
	}

	.question-section-questions {
		overflow: hidden;
	}

	.question-section-questions-inner {
		padding-bottom: 7px;
		padding-left: 5px;
	}

	.question-question {
		display: flex;
		align-items: center;
		cursor: pointer;
		white-space: nowrap;

		padding-top: 0px;
		padding-bottom: 4px;
		padding-right: 5px;
	}

	.question-question:hover {
		color: #444;
	}

	.question-question:before {
		content: url('/img/perspective-radio-empty.png');
		padding-left: 4px;
		padding-right: 5px;
		padding-top: 2px;
	}

	.question-question.selected:before {
		content: url('/img/perspective-radio-filled.png');
	}


	/*** Dich line chart in d3 ***/
	.point-tooltip {
	  position: absolute;
	  text-align: left;
	  height: auto;
	  width: auto;
	  white-space: nowrap;
	  font: 11px sans-serif;
	  border: 0px;
	  border-radius: 4px;
	  pointer-events: none;
	  padding: 4px;
	  z-index: 100;
	  font-weight: bold;
	}
