body {
	background: none transparent !important;
	line-height: 1.1;
}

.EmbedView-sidebarArea {
	margin-left: 10px;
	display: table;
}

.EmbedView-cell {
	display:table-cell;
	vertical-align:middle;
}

.EmbedView-legend {
}
