
.grid-main > .chart-row {
	height: 500px;
}

.grid-row {
	display: flex;
	
}

.grid-column-left {
	
}

.grid-column-right {
    margin-top: 96px;
    margin-left: 35px;
}

.grid {
	display: inline-flex;
}

.grid-info {
	
}

.rowtext, .grid-legend-text {
	font-size: 11px;
	color: rgb(85, 85, 85);
	white-space: nowrap;
}

.rowtext {
	text-align: right;
	padding-right: 8px;
}

.header-cell input {
	height: 23px;
}

.grid-cell {
	padding: 0;
}

.grid-cell input, .grid-legend-symbol {
	background: white;
	border: 1px dashed #BBB;
	font-size: 10px;
	height: 16px;
}

.header-cell input {
	background: white;
	border: 1px dashed #BBB;
	font-size: 13px;
	height: 22px;
}

.header-cell input.has-content {
	border: none;
}

.grid-cell input, .grid-legend-symbol {
	width: 33px;
	padding: 0;
	margin-right: 7px;
	text-align: center;
}

.grid-cell input:hover, .header-cell input:hover {
	border-color: #666;
}

.grid-cell input:focus, .header-cell input:focus {
	border: 1px solid black;
}

.rowtext.groupname {
	font-size: 12px;
	vertical-align: bottom;
}

.grid-legend {
	margin-left: 9px;
	margin-bottom: 10px;
}

.header-cell {
  height: 118px;
  white-space: nowrap;
}

.header-cell > div {
  transform: 
    translate(9px, 35px)
    rotate(-0.125turn);
  width: 30px;
}

.header-cell > div > span {
/*   padding: 5px 10px; */
}

.header-cell input {
	width: 130px;
	padding: 0 2px;
	font-weight: bold;
}

.grid-buttons {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
}

.save-grid-image-button {
	float: right;
}

.cell-good {
	background: #C8EA7C !important;
}

.cell-avg {
	background: #FFEE81 !important;
}

.cell-bad {
	background: #FBC3BD !important;
}

.add-column-button:hover {
	border-color: rgb(85, 85, 85);
}

