.profile-chart-row {
  padding: 15px;
  padding-top: 25px;
  position: relative;
}

.tab-content {
  border: 1px solid #BBB;
  border-top: 0;
}

.tabbed-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: min-content;
}

.description-wrapper {
	display: flex;
  flex: 1;
}
