.radar-chart-row {
  border-top: 1px solid #AAA;
  margin-top: 20px;
  padding-top: 20px;
}

.circle-axis-text, .line-axis-text {
  fill: #444;
}

.radar-main text {
  user-select: none;
}

.datapoint-symbol--highlighted {
  fill: #333 !important;
  transform: scale(1.15);
  transition: fill 0.1s;
  transition: transform 0.1s;
}

.line-axis-text {
  text-anchor: middle;
}

.line-axis-text--highlighted {
  fill: black !important;
}

.radarchart-save-image {
  position: absolute;
  right: -10px;
  top:  10px;
}
