.user-paste-data {
	border: 1px solid #DDD;
	color: #444;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 10px;
}

.user-paste-data-header {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.user-paste-data-header:hover {
	color: black;
}

.user-paste-data-header-arrow-wrapper {
	display: flex;
}

.user-paste-data-header-arrow {
	align-self: center;
	margin-right: 10px;
}

.user-paste-data-header-arrow:before {
	content: url('../../../../../img/question-expand-arrow.png');
}

.user-paste-data-header-text {
	font-weight: bold;
}

.user-paste-data-description {
	width: 360px;
}

.user-paste-data-content-wrapper {
	display: flex;
	height: 0;
	overflow: hidden;
}

.user-paste-data-content {
	display: flex;
	flex-direction: column;
	padding: 10px;
	padding-bottom: 0;
	width: 450px;
}

.user-paste-data-submit-wrapper {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
  width: 100%;
}

.user-paste-data-submit-explanation {
	margin-right: 10px;
}

.user-paste-data-submit-column-select {
	background: transparent;
	border: 1px solid #DDD;
	margin-right: 10px;
  padding: 5px;
	text-indent: 0;
}

.user-paste-data-textarea {
	color: #444;
	height: 400px;
	margin-top: 10px;
	padding: 10px;
	resize: none;
}

.user-paste-data-error-log-wrapper {
	display: none;
	height: 100%;
}

.user-paste-data-error-log {
	display: flex;
	flex-direction: column;
	margin: 10px 10px 20px 20px;
	padding: 10px;
	width: 450px;
}

.user-paste-data-error-log-header {
	padding-left: 5px;
}

.user-paste-data-error-log-header-text {
	font-weight: bold;
	padding-left: 5px;
}

.user-paste-data-error-log-header-icon {
	color: #d13d40;
}

.user-paste-data-error-text-area {
	border: 1px solid #DDD;
  flex: 1;
	margin-top: 10px;
  overflow-y: scroll;
	padding: 0px 10px 10px 10px;
}

.user-paste-data-error-text-number-bounds-errors,
.user-paste-data-error-text-no-number-errors,
.user-paste-data-error-text-no-row-errors {
	display: none;
	margin-top: 10px;
}

.user-paste-data-error-multiple-match-group {
	margin-top: 10px;
}

.user-paste-data-error-row {
	font-style: italic;
	margin-left: 10px;
	margin-top: 3px;
	white-space: nowrap;
}


.profile-chart-row {
	height: 600px;
	padding-top: 10px;
}

.grid-row {
	display: flex;

}

.grid-column-left {

}

.grid-column-right {
	margin-left: 35px;
  margin-top: 96px;
}

.grid {
	display: inline-flex;
}

.grid-info {

}

.rowtext, .grid-legend-text {
	color: rgb(85, 85, 85);
	cursor: default;
	white-space: nowrap;
}

.rowtext {
	padding-right: 8px;
	text-align: right;
}

.rowtext:hover {
	color: #111;
}

.grid-cell {
	padding: 0;
}

.grid-cell input, .grid-legend-symbol {
	background: white;
	border: 1px dashed #BBB;
	font-size: 10px;
	height: 16px;
}

.header-cell-input {
	border: 1px dashed #BBB;
	width: 130px;
}

.header-cell-input, .text-width-test {
	background: white;
	font-weight: bold;
	height: 22px;
	padding: 0 2px;
}

.text-width-test {
	left: -9999px;
	position: absolute;
	top: -9999px;
	visibility: hidden;
}

.header-cell-input.has-content {
	border: none;
}

.grid-cell input, .grid-legend-symbol {
	margin-right: 7px;
	padding: 0;
	text-align: center;
	width: 33px;
}

.grid-cell input:hover, .header-cell-input:hover {
	border-color: #666;
}

.grid-cell input:focus, .header-cell-input:focus {
	border: 1px solid black;
}

.rowtext.groupname {
	vertical-align: bottom;
}

.grid-legend {
	margin-bottom: 10px;
	margin-left: 9px;
}

.header-cell {
  height: 118px;
  white-space: nowrap;
}

.header-cell > div {
  transform:
    translate(9px, 35px)
    rotate(-0.125turn);
  width: 30px;
}

.grid-buttons {
	margin-bottom: 30px;
	margin-left: 10px;
  width: 100%;
}

.save-grid-image-button {
	float: right;
}

.cell-good {
	background: #B8E18A !important;
}

.cell-avg {
	background: #FFF59D !important;
}

.cell-bad {
	background: #FF9675 !important;
}

.cell-good-reference {
	background: #B8E18A !important;
}

.cell-avg-reference {
	background: #FFF59D !important;
}

.cell-bad-reference {
	background: #FF9675 !important;
}

.add-column-button:hover {
	border-color: rgb(85, 85, 85);
}
