body {
	font-family: 'Varta', sans-serif;
	font-size: 13px;
}

text {
	font-family: 'Varta', sans-serif;
	font-size: 13px;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dashed-button {
	background: white;
	border: 1px dashed #CCC;
	border-radius: 0;
	white-space: nowrap;
	height: 13px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 10px 5px 10px;
	text-decoration: none;
	color: #555;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

	margin: 3px;
}

.dashed-button:hover {
	border-color: #AAA;
}

.dashed-button:active {
	border-color: #333;
	color: #333;
	margin-bottom: 4px;
	margin-top: 2px;
	transition: border-color 0.3s;
	transition: color 0.3s;
}

/* img-preload elements are hidden, while still forcing the browser to load the cointained image */
.img-preload {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
}

.hidden {
	left: -9999px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	position: absolute !important;
	top: -9999px !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE11 CSS styles go here */
  /* TODO use Modernizr instead of IE-check */
  /* Hide save image button in IE11 because of a known svg bug */
  /* https://connect.microsoft.com/IE/feedbackdetail/view/925655 */
  .save-image {
    display: none;
  }
}
