.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dashed-button {
	background: white;
	border: 1px dashed #CCC;
	border-radius: 0;
	white-space: nowrap;
	height: 13px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	color: #555;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

	margin: 3px;
}

.dashed-button:hover {
	border-color: #AAA;
}

.dashed-button:active {
	margin-bottom: 4px;
	margin-top: 2px;
}

/* img-preload elements are hidden, while still forcing the browser to load the cointained image */
.img-preload {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
}

.hidden {
	left: -9999px !important;
	opacity: 0 !important;
	position: absolute !important;
	top: -9999px !important;
}
