/*** ChartWrapPanel.java ***/

	.daxplore-ChartWrapPanel {
		padding-right: 7px;
	}

/*** ChartPanelView.java ***/

	.daxplore-ChartPanel {
/*  		border: 1px solid #BBB; */
	}

	.daxplore-ChartScrollPanel {
		overflow-y: hidden !important;
	}

	.chart-header-panel {
		display: flex;
		flex-direction: column;
		align-items: center;
   }

   .chart-tabs {
   	display: flex;
   }

   .chart-tab {
   	padding: 7px 14px 7px 14px;
   	border: 1px solid #BBB;
   	white-space: nowrap;
   	color: #666;
		cursor: pointer;
		user-select: none;
   }

   .chart-tab-selected {
   	color: black;
   	border-bottom: none;
   }

   .chart-tab-spacing {
   	width: 20px;
   	border-bottom: 1px solid #BBB;
   }
   .chart-tab-remainder {
   	border-bottom: 1px solid #BBB;
   	width: 100%;
   }

   .chart-container {
   		border: 1px solid #BBB;
    	border-top: none;
   }

/*** GChart ***/

	.gchart-GChart {
		overflow: hidden !important; /* needed to get right size inside scrollpanel */
		padding: 0px;
		padding-left: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0px;
	}

	.gchart-GChart-compare {
		padding-bottom: 15px;
	}

	.gchart-GChart-mean {
		padding-bottom: 20px;
	}

	.gwt-Image[src$='gchart.gif'] {
/* 		z-index: 100 !important; */
	}

	.gwt-Image[src$='daxplore-bar-blank.gif'], .gwt-Image[src^='/pixel/'] {
		border-radius: 2px 2px 0 0;
	}


/*** ChartBar annotation ***/

	.daxplore-BarAnnotation {
		border: none;
		padding:6px;
		margin-top:5px;
		border-radius: 5px;
		text-align: center;
	}


/*** External legend ***/

	.legend {
		white-space: nowrap;
		padding-right: 5px;
		padding-left: 5px;
	}

	.legend div {
		width: 1.1em;
		height: 1.1em;
		border-radius: 2px;
	}

	.daxplore-ExternalLegend-hiddenCount {
		color: #888888;
		font-size: 80%;
		text-align: center;
		padding-top: 3px;
	}

	.daxplore-ExternalLegendHeader {
		font-weight: bold;
		padding-bottom: 2px;
		padding-left: 9px;
	}

	.daxplore-LegendReference {
	    border-bottom: medium dashed;
	    margin-top: 15px;
	    margin-left: 5px;
	    white-space: nowrap;
	    padding-left: 3px;
	    padding-right: 3px;
	    float: left;
	}

	.legend-row {
		white-space: nowrap;
		margin-bottom: 4px;
		width: auto !important;
		cursor: default;
	}

	.legend-row-missing-data {
		margin-top: 30px;
	}

	.legend-marker {
	    width: 1.1em;
	    height: 1.1em;
	    border-radius: 2px;
	    display: inline-block;
	    vertical-align: middle;
	}

	.legend-text {
		margin-left: 5px;
	}

/*** External header ***/

	.daxplore-ExternalHeader {
		display: table;
		margin: 0 auto;
		text-align: center;
		padding-top: 5px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.daxplore-ExternalHeader-header {
		font-size: 17px;
		font-weight: bold;
	}
	.daxplore-ExternalHeader-sub {
		margin-top: 2px;
		color: #333;
		font-size: 15px;
	}
	.daxplore-ExternalHeader-dichsub {
		margin-top: 2px;
		color: #333;
		font-size: 13px;
	}

	.daxplore-ExternalHeader-freq-tooltip {
		height: 14px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	/*** JS based chart panel  ***/
	.chart {
		border: 1px solid #BBB;
		border-top: none;
	}

	.chart-scroll {
		overflow-x: auto;
	}

	/*** JS based frequency chart ***/
	.frequency-x-axis .tick line {
		stroke: none !important;
	}

	.frequency-x-axis .tick text {
		fill: black !important;
		font-size: 13px !important;
	}
