.explorer-meanprofile {
  padding: 10px 0;
}

.meanprofile__tooltip-body {
  background-color: white;
  border: #ABABAB solid 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  height: auto;
  line-height: 1.4;
  padding: 10px;
  padding-bottom: 7px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
  z-index: 100;
}

.meanprofile__tooltip-arrow {
  background-color: white;
  border-left: #ABABAB solid 2px;
  border-radius: 0 0 10px 0;
  border-top: #ABABAB solid 2px;
  height: 10px;
  pointer-events: none;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  z-index: 100;
}

.meanprofile__tooltip-arrow--right {
  transform: rotate(135deg);
}

.meanprofile__y-axis--hover text {
  fill: #111 !important;
}

.meanprofile__reference-tooltip-header {
  font-weight: bold;
  margin-right: 4px;
}

.explorer-meanprofile .axis .domain {
  visibility: hidden;
}

.explorer-meanprofile .axis path, .explorer-meanprofile .axis line {
  fill: none;
  shape-rendering: geometricPrecision;
  stroke: #bbb;
}

.explorer-meanprofile text {
  cursor: default;
  fill: #555;
  font-family:'Raleway', sans-serif;
  font-size: 12px;
}

.meanprofile__y-tick text {
  font-weight: bold;
}

.meanprofile__y-tick-header text {
  fill: black;
  transform: translate(0, 5px);
}

.explorer-meanprofile .y path, .explorer-meanprofile .y line {
  visibility: hidden;
}

.explorer-meanprofile .reference rect, .explorer-meanprofile .reference path {
  fill: #444;
}
