.explorer-freq-vertical text {
  cursor: default;
  fill: #555;
}

.freq-vertical__y-tick text {
  font-weight: bold;
}

.freq-vertical__y-tick-header text {
  fill: black;
  transform: translate(0, 5px);
}

.freq-vertical__y-tick-header text {
  font-size: 13.5px !important;
    fill: #111 !important;
}

.freq-vertical__y-tick text:hover {
    fill: #111 !important;
}

.freq-vertical__legend {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow-y: visible;
    position: sticky;
    top: 40px;
}

@media (max-width: 900px) {
  .freq-vertical__legend {
    display: none;
  }
}

.freq-vertical__tooltip-body {
  background-color: white;
  border: #ABABAB solid 2px;
  height: auto;
  line-height: 1.4;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
  z-index: 100;
}

.freq-vertical__tooltip-arrow {
  background-color: white;
  border-left: #ABABAB solid 2px;
  border-radius: 0 0 10px 0;
  border-top: #ABABAB solid 2px;
  height: 10px;
  pointer-events: none;
  position: absolute;
  transform: rotate(225deg);
  width: 10px;
  z-index: 100;
}
