.explorer-meanprofile {
  padding: 10px 0;
  position: relative;
}

.meanprofile__tooltip-body {
  background-color: white;
  border: #ABABAB solid 2px;
  height: auto;
  line-height: 1.4;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: auto;
  z-index: 100;
}

.meanprofile__tooltip-arrow {
  background-color: white;
  border-left: #ABABAB solid 2px;
  border-radius: 0 0 10px 0;
  border-top: #ABABAB solid 2px;
  height: 10px;
  pointer-events: none;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  z-index: 100;
}

.meanprofile__tooltip-arrow--right {
  transform: rotate(135deg);
}

.meanprofile__tooltip-arrow--down {
  transform: rotate(225deg);
}

.meanprofile__y-axis--hover text {
  fill: #111 !important;
}

.meanprofile__reference-tooltip-header {
  font-weight: bold;
  margin-right: 4px;
}

.explorer-meanprofile .axis .domain {
  visibility: hidden;
}

.explorer-meanprofile .axis path, .explorer-meanprofile .axis line {
  fill: none;
  shape-rendering: geometricPrecision;
  stroke: #bbb;
}

.explorer-meanprofile text {
  cursor: default;
  fill: #555;
}

.meanprofile__y-tick text {
  font-weight: bold;
}

.meanprofile__y-tick-header text {
  fill: black;
  transform: translate(0, 5px);
}

.explorer-meanprofile .y path, .explorer-meanprofile .y line {
  visibility: hidden;
}

.explorer-meanprofile .reference rect, .explorer-meanprofile .reference path {
  fill: #444;
}

/* TODO collect all desciption text */
.description-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

.meanprofile__description-option,
.meanprofile__description-reference,
.meanprofile__description-comparison {
  font-weight: bold;
  margin-bottom: 5px;
}

.meanprofile__description-comparison {
  margin-bottom: 10px;
}

.meanprofile__save-image {
  float: right;
  margin-bottom: 5px;
  position: relative;
  top: 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE11 CSS styles go here */
  /* TODO use Modernizr instead of IE-check */
  /* Hide save image button in IE11 because of a known svg bug */
  /* https://connect.microsoft.com/IE/feedbackdetail/view/925655 */
  .meanprofile__save-image {
    display: none;
  }
}
