.explorer-freq-vertical text {
  cursor: default;
  fill: #555;
}

.freq-vertical__y-tick text {
  font-weight: bold;
}

.freq-vertical__y-tick-header text {
  fill: black;
  transform: translate(0, 5px);
}

.freq-vertical__y-tick-header text {
  font-size: 13.5px !important;
    fill: #111 !important;
}

.freq-vertical__y-tick text:hover {
    fill: #111 !important;
}

.freq-vertical__legend {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow-y: visible;
    position: sticky;
    top: 40px;
}

@media (max-width: 900px) {
  .freq-vertical__legend {
    display: none;
  }
}
