.chart {
  position: relative;
}

.chart-perspective-column {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE11 CSS styles go here */
  .chart-perspective-column {
    overflow-y: visible !important;
  }
}

.chart-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.chart-header-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tab-container {
  border: 1px solid #BBB;
  border-top: none;
}
