.description-panel {
  display: none;
  margin: 22px 0 0 10px;
  max-width: 500px;
  padding: 8px 5px 8px 8px;
}

.description-panel p {
  margin-bottom: 1px;
  margin-top: 1px;
}

.description-panel ul {
  margin: 0;
  padding-left: 20px;
}

.perspective-description-row {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  /* position: relative; */
  width: 100%;
}

.description-left-wrapper {
  position: relative;
}

.description-left {
  position: absolute;
}


.description-panel.description-left {
  margin-left: 0;
  padding-left: 0;
}
