.daxplore-explorer {
  display: flex;
  flex-direction: row;
}

body {
  background: #FFF;
  line-height: 1.1;
  margin: 0;
  overflow-x: hidden;
  opacity: 0; /* hide entire page before JS has loaded */
  padding: 0;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  /* IE11 CSS styles go here */
  body {
    overflow-y: visible !important;
  }
}

h1 {
  color: #777;
  font-size: 2em;
  font-weight: bold;
  margin: 40px 0 70px;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.section-header {
  color: #777;
  font-weight: bold;
  white-space: nowrap;
}

.general-warning-section {
  width: 100%;
}

/* superscript */
.super {
  bottom: 0.5em;
  color: black;
  font-size: 0.8em;
  /* position: relative; */
}
