.legend {
  padding-left: 7px;
  white-space: nowrap;
}

.legend__header {
  margin: 0;
  margin-bottom: 5px;
}

.legend__sub-header {
  margin-top: -5px;
}

.legend__row {
  cursor: default;
  display: flex;
  white-space: nowrap;
  width: auto !important;
}

.legend__row--missing-data {
  margin-top: 30px;
}

.legend__row--indent-1 {
  margin-left: 0.4em;
}

.legend__row--indent-2 {
  margin-left: 0.8em;
}

.legend__color-square {
  border-radius: 2px;
  height: 1.1em;
  width: 1.1em;
}

.legend__marker {
  border-radius: 2px;
  display: inline-block;
  height: 1.1em;
  vertical-align: middle;
  width: 1.1em;
}

.legend__row-text {
  margin-left: 5px;
  max-width: 235px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  padding-top: 2px;
  white-space: nowrap;
}

.legend__reference-line {
  align-self: flex-start;
  border-bottom: 3px dashed #666;
  margin-top: 10px;
  padding: 2px;
}
