/*** External header ***/

.header-section-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.header-outer {
  padding: 3px;
  padding-bottom: 5px;
}

.header-inner {
  padding-top: 15px;
}

.header-section__main {
  font-size: 17px;
  font-weight: bold;
}

.header-section__sub {

}

.header-section__dichsub {
  color: #333;
  margin-top: 2px;
}

.header-section__freq-tooltip {
  margin-top: 1px;
}

.header-section__dich-selected {
  margin-top: 1px;
}
