/*** External header ***/

.header-section {
	display: table;
	margin: 0 auto;
	padding-bottom: 6px;
  padding-left: 3px;
  padding-right: 3px;
	text-align: center;
}

.header-section__main {
	font-size: 17px;
	font-weight: bold;
}

.header-section__sub {
  color: #333;
}

.header-section__dichsub {
  color: #333;
  font-size: 13px;
	margin-top: 2px;
}

.header-section__freq-tooltip {
	height: 12px;
	margin-top: 1px;
}
