/*** Style for the perspective picker in Daxplore Explorer ***/

.perspective-panel {
  flex: 1;
  left: 0;
  min-width: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.perspective-button {
  color: #999;
	z-index: 1;
}

.perspective-header {
	color: #888;
	font-weight: bold;
	padding-bottom: 7px;
  padding-top: 10px;
}

.perspective-picker {
	display: flex;
  flex: 1;
	flex-direction: row;
  min-width: 0;
}

.perspective-varpicker {
	display: flex;
	flex-direction: column;
}

.peropt-buttons {
display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.pervarpicker-top-padding {
  border-left: 1px dashed #DDD;
  border-right: 1px solid #ABABAB;
  border-top: 1px dashed #DDD;
  min-height: 10px;
	position: relative;
}

.pervarpicker-bottom-padding {
  border-bottom: 1px dashed #DDD;
  border-left: 1px dashed #DDD;
  border-right: 1px solid #ABABAB;
	min-height: 10px;
  position: relative;
}

.pervarpicker-right-border-extender {
  border-right: 1px solid #ABABAB;
	flex: 1;
}

.pervarpicker-varoption:before {
	content: url('../../img/perspective-radio-empty.png');
	padding-left: 3px;
	padding-right: 5px;
	padding-top: 2px;
}

.pervarpicker-varoption {
  align-items: center;
  border-left: 1px dashed #DDD;
  border-right: 1px solid #ABABAB;
  cursor: pointer;
	display: flex;
	padding: 5px;
	padding-right: 10px;
	white-space: nowrap;
}

.pervarpicker-varoption-selected:before {
	content: url('../../img/perspective-radio-filled.png');
}

.pervarpicker-varoption-selected {
  border-bottom: 1px solid #ABABAB;
  border-left: 1px solid #ABABAB;
  border-right: none;
	border-top: 1px solid #ABABAB;
  padding-bottom: 4px;
	padding-right: 11px;
	padding-top: 4px;
}

.pervarpicker-varoption:hover {
	color: #444;
}

.perspective-options {
  background-color: white;
  border-bottom: solid 1px #ABABAB;
  border-right: solid 1px #ABABAB;
  border-top: solid 1px #ABABAB;
  display: flex;
  flex: 1;
	flex-direction: column;
  min-width: 0;
  position: relative;
}

.peropt-columns {
  display: flex;
	flex: 1;
	flex-direction: row;
}

.peropt-extra-columns {
  display: flex;
	flex-direction: row;
  overflow: hidden;
}

.peropt-bottom-padding {
}

.peropt-more-wrapper {
  bottom: 2px;
	position: absolute;
  right: 2px;
}

.peropt-checkbox {
  align-items: center;
  cursor: pointer;
	display: flex;
  overflow: hidden;
	padding: 2px;
  padding-left: 4px;
	padding-right: 10px;
  text-overflow: ellipsis;
	white-space: nowrap;
}

.peropt-checkbox::before {
	content: url('../../img/perspective-checkbox-empty.png');
	padding-right: 5px;
	padding-top: 3px;
}

.peropt-checkbox-selected:before {
	content: url('../../img/perspective-checkbox-filled.png');
}

.peropt-checkbox:hover {
	color: #444;
}

/* .peropt-col-two-combined .peropt-checkbox:first-child {
  border-top: 0;
  padding-top: 1px
} */

.peropt-checkbox-combined {
  border-right: 1px solid #ABABAB;
}

.peropt-checkbox-expanded {
  border-bottom: 1px solid #ABABAB;
  border-left: 1px solid #ABABAB;
  border-right: none;
  border-top: 1px solid #ABABAB;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 11px;
  padding-top: 1px;
}

.peropt-checkbox-text {
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.peropt-checkbox-expand {
  font-size: 12px;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 2px;
}

.peropt-col-one, .peropt-col-two, .peropt-col-three {
  flex: 1;
  min-width: 0;
  padding-left: 4px;
  transition: flex 0.2s;
}

.peropt-col-two-combined, .peropt-col-three-combined {
  border-bottom: 1px solid #ABABAB;
  border-top: 1px solid #ABABAB;
  display: flex;
  flex-direction: column;
}

.peropt-col-three-combined {
  border-right: 1px solid #ABABAB;
  margin-right: 4px;
}

.peropt-col-two-combined::before {
  border-right: 1px solid #ABABAB;
  content: '';
  height: 4px;
}

.peropt-col-two-combined::after {
  border-right: 1px solid #ABABAB;
  content: '';
  flex: 1;
}

.peropt-col-one:hover, .peropt-col-two-combined:hover, .peropt-col-three-combined:hover {
  flex: 2;
  transition: flex 0.2s;
}
