<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Set the locale for the gwt-parts of the site. -->
		<meta name="gwt:property" content="prefix={0}">
   		<meta name="gwt:property" content="locale={1}">
		<title>{2}</title>
		<base href="{3}" target="_blank">
		<link type="text/css" rel="stylesheet" href="css/embed.css">
	    <link type="text/css" rel="stylesheet" href="css/daxplore-chart.css">
	    <script type="text/javascript" src="gwtEmbed/gwtEmbed.nocache.js"></script>
	</head>
	<script type="text/javascript">
		var jsondata = [ {4} ];
		var questions = {5};
		var prefixProperties = {6};
	</script>
	<body>
		<div id="main"></div>
	</body>
</html>
