<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <base href="{0}" target="_blank">
    <title>{1}</title>
    
    <link type="text/css" rel="stylesheet" href="css/list.css">
    
    <script type="text/javascript" charset="UTF-8">
      var prefix = "{2}";
      var perspective = "{3}";
      var questions = {4};
      var settings = {5};
      var usertexts = {6};
      var data = {7};
    </script>
    
    <script type="text/javascript">{8}</script>
    
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>

      
    <script type="text/javascript" src="js/canvas-toBlob.js"></script>
    <script type="text/javascript" src="js/FileSaver.js"></script>
    
    <script type="text/javascript" src="js/list.js"></script>
    
    
    <script type="text/javascript">
      var unpacked_data = {};
      unpacked_data.q_ids = [];

      unpacked_data.means = [];
      
      unpacked_data.references = [];
      unpacked_data.reference_map = {};
      
      for (var i = 0; i < data.length; i++) {
        var d = data[i];
        
        var q_id = d.q;
        unpacked_data.q_ids.push(q_id);
        
        var mean_array = d.mean["0"].mean;
        unpacked_data.means.push(mean_array);
        
        var global_reference_mean = d.mean["0"].global;
        unpacked_data.references.push(global_reference_mean);
        unpacked_data.reference_map[q_id] = global_reference_mean;
      }
      
      unpacked_data.perspective_options = [];
      unpacked_data.shorttext_map = {};
      unpacked_data.description_map = {};
      unpacked_data.direction_map = {};

      for (var i=0; i < questions.length; i ++) {
        var q = questions[i];
        unpacked_data.shorttext_map[q.column] = q.short;
        unpacked_data.description_map[q.column] = unescape(q.description);
        
        if ("gooddirection" in q) {
          unpacked_data.direction_map[q.column] = q.gooddirection;
        }
        
        if (q.column === perspective) {
          unpacked_data.perspective_options = q.options;
        }
      }
      
      unpacked_data.shorttexts = unpacked_data.q_ids.map(function(q) { return unpacked_data.shorttext_map[q]; });
      
      unpacked_data.usertexts = usertexts;
      
    </script>
    
    <script type="text/javascript">
      function headerChange(select) {
        updateSelecterOption(select.value);
      }
    </script>
    
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(e) {
        d3.select(".save-image").node().innerHTML = usertexts.imageSaveButton;
            
        var select = document.getElementsByClassName("header-select")[0];
        for (var i=0; i<unpacked_data.perspective_options.length; i++) {
          select.options.add(new Option(unpacked_data.perspective_options[i], "" + i));
        }
        
        generateListChart(unpacked_data, 0);
      });
    </script>
  
  </head>
  
  <body>
    <div class="pagecontainer">
      <div class="main">
        <div class="column-left">
          <div class="header">
            <div class="header-select-div">
              <select class="header-select" onchange="headerChange(this)">
              </select>
            </div>
          </div>
          <div class="chart-wrapper">
            <svg class="chart"></svg>
            <div class="tooltipdiv"></div>
            <div class="arrow-left"></div>
          </div>
        </div>
        <div class="column-right">
          <span class="save-image" onClick="generateImage()"></span>
          <div class="description-wrapper">
            <div class="description"></div>
          </div>
        </div>
      </div>
    </div>

    <noscript>
      <div class="noscript">
        <p class="warning-sub">To show this page you must allow it to run JavaScript.</p>
      </div>
    </noscript>
  </body>
</html>
