<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<base href="{0}" target="_blank">
		<link type="text/css" rel="stylesheet" href="css/grid.css">
		
		<title>{1}</title>
		
		<script type="text/javascript" charset="UFT-8">
			var prefix = "{2}";
			var perspectives = {3};
			var questions = {4};
			var groups = {5};
			var settings = {6};
			var usertexts = {7};
			var data = {8};
		</script>
		
		<script type="text/javascript">{9}</script>
		
		<script src="https://d3js.org/d3.v3.js"></script>

	   
	</head>
	
	<body>
		<div class="pagecontainer">
			<div class="chart">
				
			</div>
			<noscript>
				<div class="noscript">
					<p class="warning-sub">
						To show this page you must allow it to run JavaScript.
					</p>
				</div>
			</noscript>
		</div>
	</body>
</html>
