<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<!-- Set the locale for the GWT-parts of the site. -->
		<meta name="gwt:property" content="locale={0}">
		<base href="{1}" target="_blank">
		<link type="text/css" rel="stylesheet" href="css/presentation.css">
		<link type="text/css" rel="stylesheet" href="css/daxplore-widgets.css">
		<link type="text/css" rel="stylesheet" href="css/daxplore-chart.css">
		
		<title>{2}</title>
		
		<script type="text/javascript" src="js/cookie-locale-handling"></script>
		
		<script type="text/javascript" charset="UFT-8">
			var perspectives = {3};
			var questions = {4};
			var groups = {5};
		</script>
		<script type="text/javascript" src="gwtPresentation/gwtPresentation.nocache.js"></script>
		<link rel="stylesheet" type="text/css" href="css/browser-suggestions.css">
	</head>
	
	<body>
		<!-- add GWT history support -->
		<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'
			style="position:absolute; width:0; height:0; border:0"></iframe>
		
		<div class="pagecontainer">
			<div class="general-warning-section" id="ID-general-warning"></div>
			<div class="basic-header">&nbsp;</div>
			<div class="stagePanel" id="ID-StagePanel"></div>
			<noscript>
				<div class="noscript">
					<p class="warning-sub">
						To show this page you must allow it to run JavaScript.
					</p>
				</div>
			</noscript>
			<div class="basic-footer">&nbsp;</div>
		</div>
	</body>
</html>
