<div class='bottom-panel'>
  <div class='perspective-panel'>
    <div class='perspective-header'>Välj perspektiv</div>
    <div class='perspective-picker'>
      <div class='variable-picker'>
        <div class='top-padder'></div>
        <div class='variables'>
          <div class='var-1'>Variabel ett</div>
          <div class='var-2'>Variabel två</div>
          <div class='var-3'>Variabel tre</div>
        </div>
        <div class='bottom-padder'></div>
        <div class='bottom-right-border-extender'></div>
      </div>
      <div class='options'>
        <div class='all-none-buttons'>
          <div class='all-button'>Markera alla</div>
          <div class='none-button'>Avmarkera alla</div>
        </div>
        <div class='option-checkboxes'>
          <div class='options-first-column'></div>
          <div class='options-second-column'></div>
          <div class='options-third-column'></div>
        </div>
        <div class='show-more'>
          <div class='show-more-button'>Visa fler >></div>
        </div>
      </div>
    </div>
  </div>
  <div class='daxplore-DescriptionPanelBottom'>
  </div>
<div>