<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <base href="{0}" target="_blank">
    <title>{1}</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/daxplore-common.css">
    <link rel="stylesheet" href="css/profile-chart.css">
    <link rel="stylesheet" href="css/userprofile.css">

    <script type="text/javascript" charset="UTF-8">
      var prefix = "{2}";
      var locale = "{3}";
      var questions = {4};
      var settings = {5};
      var usertexts = {6};
      var q_ids = {7};
    </script>

    <script type="text/javascript">{8}</script>

    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>

    <script type="text/javascript" src="js/es6-promise.auto.js"></script>
    <script type="text/javascript" src="js/modernizr-userprofile.js"></script>
    <script type="text/javascript" src="js/dom-to-image.min.js"></script>
    <script type="text/javascript" src="js/canvas-toBlob.js"></script>
    <script type="text/javascript" src="js/FileSaver.js"></script>

    <script type="text/javascript" src="js/profile-helpers.js"></script>
    <script type="text/javascript" src="js/userprofile-grid.js"></script>
    <script type="text/javascript" src="js/profile-chart.js"></script>

    <script type="text/javascript">
      var shorttext_map = {};
      var description_map = {};
      var direction_map = {};
      var mean_reference_map = {};

      for (var i=0; i < questions.length; i ++) {
        var q = questions[i];
        shorttext_map[q.column] = q.short;
        description_map[q.column] = unescape(q.description);

        if ("gooddirection" in q) {
          direction_map[q.column] = q.gooddirection;
        }

        if (q.use_mean_reference) {
          mean_reference_map[q.column] = q.mean_reference;
        }
      }

      initiateHelpers(mean_reference_map, shorttext_map, usertexts, description_map, direction_map);

      function headerChange(select) {
        updateSelectorOption(select.value);
      }

      document.addEventListener("DOMContentLoaded", function(e) {
        d3.select(".save-image")
          .text(usertexts.imageSaveButton);

        generateGrid(locale, q_ids, mean_reference_map, shorttext_map, usertexts, description_map, direction_map);

        generateListChart(q_ids, mean_reference_map, shorttext_map, usertexts, description_map, direction_map, 0);

        addGridUpdateCallback(function(names, means) {
          setChartData(names, means);
        });
      });
    </script>

  </head>

  <body>
    <div class="grid-main">
      <div class="grid-row">
        <span class="grid"></span>
        <div class='grid-column-right'>
          <div class='grid-buttons'>
            <span class="add-column-button dashed-button" onClick="addColumn()"></span>
            <span class="save-grid-image-button dashed-button"></span>
          </div>
          <div class='grid-info'>
            <table class='grid-legend'>
              <tr><td class='grid-legend-symbol cell-good'></td><td class='grid-legend-text good'></td></tr>
              <tr><td class='grid-legend-symbol cell-avg'></td><td class='grid-legend-text avg'></td></tr>
              <tr><td class='grid-legend-symbol cell-bad'></td><td class='grid-legend-text bad'></td></tr>
            </table>
            <div id='grid-description' class='description'></div>
          </div>
        </div>
      </div>
      <div class="chart-row">
        <div class="column-left">
          <div class="header">
            <div class="header-select-div">
              <select class="header-select" onchange="headerChange(this)">
              </select>
            </div>
          </div>
          <div class="chart-wrapper">
            <svg class="chart"></svg>
            <div class="tooltipdiv"></div>
            <div class="arrow-left"></div>
          </div>
        </div>
        <div class="column-right">
          <span class="save-image dashed-button" onClick="generateImage()"></span>
          <div class="description-wrapper">
            <div id='chart-description' class="description"></div>
          </div>
        </div>
      </div>
    </div>

    <noscript>
      <div class="noscript">
        <p class="warning-sub">To show this page you must allow it to run JavaScript.</p>
      </div>
    </noscript>
  </body>
</html>
