<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<!-- Default page to serve -->
	
	<welcome-file-list>
		<welcome-file>presentation-browser</welcome-file>
	</welcome-file-list>


	<!-- Public display servlet -->

	<servlet>
		<servlet-name>presentation-browser</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.PresenterBrowserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>presentation-browser</servlet-name>
		<url-pattern>/presentations</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>presentation</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.PresenterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>presentation</servlet-name>
		<url-pattern>/p/*</url-pattern>
	</servlet-mapping>


	<!-- Public support servlets -->

	<servlet>
		<servlet-name>getStats</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.GetStatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getStats</servlet-name>
		<url-pattern>/getStats</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getCsv</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.GetCsvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCsv</servlet-name>
		<url-pattern>/getCsv/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getPixel</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.GetPixelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getPixel</servlet-name>
		<url-pattern>/pixel/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- Password protected admin servlets -->
	
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.DataUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/admin/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadUnpack</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.DataUnpackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadUnpack</servlet-name>
		<url-pattern>/admin/uploadUnpack</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminPrefix</servlet-name>
		<servlet-class>org.daxplore.presenter.server.servlets.AdminPrefixServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminPrefix</servlet-name>
		<url-pattern>/admin/prefix</url-pattern>
	</servlet-mapping>


	<!-- Administrator security constraints -->

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<!-- Google Remote API -->
	
	<servlet>
		<servlet-name>remoteapi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteapi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>remoteapi</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
